
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  
   
    
  
}
body{
 font-style:'Poppins' ;
  /*background-image: url('./imgs/transferir.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;*/

}
.estiloComum{

  text-align: center;
  padding: 30px 30px;
}
.secao1{
  background-color: #afddfb
}
.imgCabecalho{
  width:150px;

}

.imgSombra{
  box-shadow: 2px 5px 5px black;
  border-radius: 5px;
  cursor: pointer;
}

.paragrafoEstilo{
    margin:10px auto;
    width:980px;
    text-align: center;
    font-size:18px;
    line-height:28px;
  }
  .secao1 a{
font-size:18px;
color:#1d1d1d;
border-bottom:2px solid #1d1d1d;
text-decoration:none;
margin: 15px 25px;
  }
  .secao2{
    margin-top:50px;
    padding-top:0;
  }
  span{
    font-weight: bold;
  }
  .secao3 h1{
    color:#1d1d1d;
    margin-bottom:5px;

  }
  .styleTitulo{
    color:#1c81c0;
    margin-top:0;
    font-weight: none;
  }
  .secao3 img{
    width:450px;
    cursor: pointer;
  }
  .secao3 .textoAzul span{
    color:#1d80c1;


  }
  .secao4{
    background-color:#1d80c1;
  }
  .subtitulos{
    color:#ffffff;
    font-size:28px;
    line-height: 42px;
  }
  .secao4 p{
    color:#ffffff;
    line-height: 40px;
    font-size:20px;
    text-align:center;
    width:700px;
  }
  .textoAmarelo span{
    color:#fff81b;
  }
  .secao4 ul{
    margin:40px auto;
    width:135px
  }
.secao4 ul li{
  color:#ffffff;
  line-height:42px;
  text-align:left;
  font-size:22px;
  
}
.secao5 img{
  width:450px;
  cursor: pointer;
}
.secao5 .textoAzul span{
    color:#1d80c1;
}
.secao5 h4{
  color:#1d80c1;
}
.secao5 .textoAzul .paragrafoEstilo{
  color:#1d80c1;
}
.secao5 h4{
 font-size: 25px;
 margin-bottom: 10px;
}
.secao6,ul,a{
list-style: none;
text-decoration: none;
text-align: center;
}

.secao6{
  background-color: #1c81c0;
  padding: 30px 30px;
  text-align: center;
}
.secao6 h5{
  font-size: 25px;
  color:#ffffff;
  
}
.secao6 span{
  color:#fff81b;
}
.paragrafoRodape{
  color: #ffffff;
 background-color: #1d1d1d;
 padding: 15px;
 margin-top: 30px;
 }
 .secao6 ul li{
  margin:40px auto;
  width:210px;
 }
 .secao6 ul li a{
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
  padding: 2px 5px;
  color: #1d80c1;
  background-color: #ffffff;
  border-radius: 5px;
 }